.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px;
    background-color: #e6e6e6;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

.subtotal__gift{
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.subtotal__gift > input{
    margin-right: 6px ;
}

.subtotal > button{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    border: 1px solid;
    color: #111;
    border-color: #a88734 #9c7e31 #846a29;
    height: 30px;
    margin-top: 15px;
}